{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ property.imgSrc }}" alt="Property image">
                <div class="card-body">
                    <h5 class="card-title">{{ property.price|floatformat:2 }}</h5>
                    <p class="card-text">
                        {{ property.street_address }}<br>
                        {{ property.city }}, {{ property.state }} {{ property.zipcode }}<br>
                        {{ property.country }}<br>
                        Beds: {{ property.bedrooms }} | Baths: {{ property.bathrooms }}
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No properties found.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
